@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

header.masthead {
  background-image: url(../img/home-bg.jpg);

  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;

  align-items: center;
  justify-content: center;

  position: relative;
}
