{% extends 'base.html' %}

{% block content %}
<h2>About</h2>
<p>
    South Park is an American animated television series created by Trey Parker and Matt Stone for the Comedy Central
    television network. The ongoing narrative revolves around four children, Stan Marsh, Kyle Broflovski, Eric Cartman
    and Kenny McCormick, and their bizarre adventures in and around the fictional and eponymous Colorado town. The
    town is also home to an assortment of characters who make frequent appearances in the show such as students and
    their family members, elementary school staff, and recurring characters.
</p>

<p>
    Stan is portrayed as the everyman of the group, as the show's official website describes him as "a normal,
    average, American, mixed-up kid". Kyle is the lone Jew among the group, and his portrayal in this role is often
    dealt with satirically. Stan and Kyle are best friends, and their relationship, which is intended to reflect the
    real-life friendship between South Park creators Trey Parker and Matt Stone, is a common topic throughout the
    series. Cartman—loud, obnoxious, and obese—is sometimes portrayed as the series' main antagonist and whose
    anti-Semitic attitude has resulted in an ever-progressing rivalry with Kyle. Kenny, who comes from a poor family,
    wears his parka hood so tightly that it covers most of his face and muffles his speech. During the show's first five
    seasons, Kenny would die in almost every single episode before returning in the next without explanation.
</p>
{% endblock %}