{% extends 'base.html' %}

{% block content %}
<h2>Characters</h2>

<p>In tradition with the show's cutout animation style, the characters are composed of simple geometrical shapes and
    uninflected patches of predominantly primary colors. They are not offered the same free range of motion associated
    with hand-drawn characters, as they are mostly shown from only one angle, and their movements are animated in an
    intentionally jerky fashion. Ever since the show's second episode, "Weight Gain 4000", all the characters on the
    show have been animated with computer software, though they are portrayed to give the impression that the show still
    utilizes the original technique of cutout animation.</p>

<div class="row">
    <div class="col-md-8">
        <h3>Stan Marsh</h3>
        <p>Stanley "Stan" Marsh is one of the show's four central characters and is voiced by and loosely based on
            series co-creator Trey Parker. He first appeared in The Spirit of Christmas and is portrayed (in
            words of the show's official website) as "a normal, average, American, mixed-up kid". Stan is a third-
            then fourth-grade student who commonly has extraordinary experiences not typical of conventional small-town
            life in his hometown of South Park. He is also commonly portrayed as the main protagonist of the series, as
            in most episodes he plays this role. He is well known for the phrase "Oh my God! They killed Kenny!" which
            he says in many episodes whenever Kenny is subjected to painful and often gruesome deaths, and this phrase
            is very well known throughout popular culture.</p>
    </div>
    <div class="col-md-4">
        <img class="img-responsive"
            src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a7/StanMarsh.png/130px-StanMarsh.png" style="width:100%;"
            alt="Stan Marsh">
    </div>
</div>
<hr>

{% endblock %}