{% extends 'base.html' %}

{% block content %}
<h2>{{ page_title }}</h2>

<p>In tradition with the show's cutout animation style, the characters are composed of simple geometrical shapes and
    uninflected patches of predominantly primary colors. They are not offered the same free range of motion associated
    with hand-drawn characters, as they are mostly shown from only one angle, and their movements are animated in an
    intentionally jerky fashion. Ever since the show's second episode, "Weight Gain 4000", all the characters on the
    show have been animated with computer software, though they are portrayed to give the impression that the show still
    utilizes the original technique of cutout animation.</p>

{% for character in characters %}
<!-- reverse order of the images -->
{% if loop.index % 2 != 0 %}
<div class="row">
    <div class="col-md-8">
        <h3><a href="/characters/{{ character.url }}" class="btn btn-block btn-outline-primary">{{ character.name }}</a></h3>
        <p>{{ character.short_description }}</p>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center">
        <img class="img-responsive" src="{{ character.image_source }}"
            alt="Picture of {{ character.name }}">
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
        <img class="img-responsive" src="{{ character.image_source }}"
            alt="Picture of {{ character.name }}">
    </div>
    <div class="col-md-8">
        <h3><a href="/characters/{{ character.url }}" class="btn btn-block btn-outline-primary">{{ character.name }}</a></h3>
        <p>{{ character.short_description }}</p>
    </div>
</div>
{% endif %}
<!-- no horizontal line for the last character -->
{% if loop.index != 13 %}
<hr>
{% endif %}
{% endfor %}

{% endblock %}