{% extends 'base.html' %}

{% block content %}

<div class="card mb-4">
    <div class="card-body">
        Following the success of the 1995 short Jesus vs. Santa, creators Trey Parker and Matt Stone conceived a plan to
        create a television series based off the short, with four children characters as the main stars. The series was
        originally set up at 20th Century Fox Television for its primetime premiere on FOX, which previously
        commissioned
        Parker and Stone to develop the short. However, FOX was not pleased with the show's inclusion of Mr. Hankey, a
        talking poo character, and felt it wouldn't bode well with viewers. The network's executives also said that
        placing
        kids as the stars could not be as funny and popular as it would with the grown-ups and families, like The
        Simpsons
        and King of the Hill.
    </div>
</div>

<div class="card mb-4">
    <div class="card-body">
        As a result, Parker and Stone broke off relations with FOX and took the series somewhere else. They pitched the
        series to MTV and Comedy Central, and decided it was best suited for the latter, fearing the former could turn
        it to
        a more kid-friendly show later on. Comedy Central agreed to pick up the series, and the premiere episode,
        "Cartman Gets an Anal Probe", debuted on the network on August 13, 1997, while Mr. Hankey would debut in the
        tenth
        episode, "Mr. Hankey, the Christmas Poo".
    </div>
</div>

<div class="card mb-4">
    <div class="card-body">
        In tradition with the show's cutout animation style, the characters are composed of simple geometrical shapes
        and
        uninflected patches of predominantly primary colors. They are not offered the same free range of motion
        associated with hand-drawn characters, as they are mostly shown from only one angle, and their movements are
        animated in an intentionally jerky fashion. Ever since the show's second episode, "Weight Gain 4000",
        all
        the characters on the show have been animated with computer software, though they are portrayed to give the
        impression that the show still utilizes the original technique of cutout animation.
    </div>
</div>

<div class="card mb-4">
    <div class="card-body">
        Stone and Parker voice most of the male South Park characters. Mary Kay Bergman voiced the majority of the
        female characters until her death in 1999, near the end of the third season. Eliza Schneider and Mona
        Marshall
        succeeded Bergman in 1999, and respectively 2000, with Schneider leaving the show in 2003, after the seventh
        season. She was replaced by April Stewart, who, along with Marshall, continues to voice most of the female
        characters. Bergman was originally listed in the credits under the alias Shannen Cassidy to protect her
        reputation as the voice of several Disney characters. Stewart was originally credited under the name Gracie
        Lazar, while Schneider was sometimes credited under her rock opera performance pseudonym Blue Girl.
    </div>
</div>

<div class="card mb-4">
    <div class="card-body">
        Some South Park staff members voice other recurring characters; supervising producer Jennifer Howell voices
        student
        Bebe Stevens, writing consultant Vernon Chatman voices an anthropomorphic towel named Towelie, and
        production
        supervisor John Hansen voices Mr. Slave, the former gay lover of Mr. Garrison. South Park producer and
        storyboard artist Adrien Beard, who voices Token Black, the only African-American child in South Park, was
        recruited
        to voice the character "because he was the only black guy [in the] building" when Parker needed to quickly find
        someone to voice the character during the production of the season four (2000) episode "Cartman's Silly Hate
        Crime
        2000"
    </div>
</div>

{% endblock %}